fastapi
uvicorn
python-multipart
qdrant-client
langchain
langchain-core
langchain-huggingface
langchain-google-genai
langchain-openai
langchain-groq
groq
pymupdf
sentence-transformers
pydantic
pydantic-settings
python-dotenv
easyocr
opencv-python-headless
pytest
